@model Order
<form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Каталожный номер")
        </th>
        <th>
            @Html.DisplayName("Наименование")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Parts) {
    <tr>
        <td onclick="script_(this)">@Html.DisplayFor(modelItem => item.PartNumber)</td>
        <td onclick="script_(this)">@Html.DisplayFor(modelItem => item.PartName)</td>
        <td>
            <input type="checkbox" name="partsGroup" value=@item.Id @if (item.ParsedDatas.Count == 0) { @:checked
                   }>
        </td>
    </tr>
}
</table>
</form>