@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="list-orders" class="row">
    <div id="loading" class="col-*-4">
        Загрузка данных с сервера...
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $("#list-orders").load("/Orders/Index");
    });
</script>
}